/* COLOR VARIABLES */
:root {
    --primary-color: #6f4e37;
    --secondary-color: #c19a6b;
    --accent-color: #a0522d;
    --background: #af3808;
    --text-color: #f7f2f2;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.home{
     background-image:
        linear-gradient(rgba(0,0,0,0.1), rgba(233, 76, 14, 0.5)),
        url("coffee7.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 300px;
    position: relative;

}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(136, 39, 1, 0.3);
    margin: 20px auto;
    position: absolute;
    width: 90%;
    left: 50%;
    transform: translate(-50%);
    white-space: nowrap;
    user-select: none;
    cursor: pointer;
    padding: 4px 15px;
    color: var(--text-color);
    border-radius: 25px;
    border: 1px solid brown;
}
.navbar ul{
    display: flex;
    align-items: center;
    gap: 15px;
    list-style: none;
}
.btn.active{
    background: var(--background);
    transition: .3s;
    padding: 2px 4px;
    border-radius: 10px;
}
.center-content{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%);
    background: rgba(56, 44, 29, 0.6);
    padding: 15px;
    color: var(--text-color);
    width: 280px;
    text-align: center;
    line-height: 30px;
    white-space: nowrap;
    user-select: none;
    border-radius: 0 25px;
}
.center-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.fill, .none{
    background: none;
    outline: none;
    border: none;
    color: var(--text-color);
    font-size: 16px;
    cursor: pointer;
}
.fill{
    background: var(--secondary-color);
    padding: 4px;
    border-radius: 20px;
    transition: .3s;
}
.fill:hover{
    background: var(--accent-color);
}
@media(max-width:768px){
    .navbar{
        padding: 4px 15px;
    }
    .navbar ul{
        display: none;
    }
    .center-content{
        width: 90%;
    }
}
.about{
    background: var(--background);
    text-align: center;
    padding: 15px 10px;
}
.about header{
    color: var(--text-color);
    text-decoration: underline;
}
.about-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
}
.about section{
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-image{
    background: linear-gradient(rgba(0,0,0,0.1),
     rgba(233, 76, 14, 0.5)), url(coffee9.jpg);
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     width: 95%;
     height: 90%;
     position: relative;
}
.para{
    position: absolute;
    bottom: 10px;
    color: var(--text-color);
    padding: 10px;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    white-space: nowrap;
}
.about-story{
    color: var(--text-color);
    padding: 10px;
    line-height: 25px;
}
@media(max-width: 768px){
    .about-content{
        display: grid;
        grid-template-columns: 1fr;
        height: 550px;
    }
    .about-image{
        height: 200px;
    }
}
.our-menu{
    background: linear-gradient(rgba(0,0,0,0.8),
     rgba(233, 76, 14, 0.5)), url(menubg.jpg);
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
}
.menu-description{
    color: var(--text-color);
    text-align: center;
    padding: 10px;
    font-family:  monospace;
    font-size: 16px;
}
.menu-description h2{
    text-decoration: underline;
    color: var(--background);
    margin-bottom: 10px;
}
.menu-item{
 text-align: center;  
 color: var(--text-color);
}
.menu-item h2{
    text-decoration: underline;
    color: var(--background);
    margin-bottom: 10px;
}
.menulist{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px;
    gap: 10px;
}
.menu-list{
    line-height: 35px;
    border: 1px solid var(--text-color);
    user-select: none;
}
.menu-list ul{
    list-style: none;   
}
.menu-list ul li{
    border-bottom: 1px solid var(--text-color);   
}
.head{
    background: rgba(0,0,0,0.7);
    padding: 5px;
    cursor: pointer;
}
.hide{
    display: none;
}
@media(max-width: 768px){
   .menulist{
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
   }
}

.review{
    background: var(--primary-color);
    text-align: center;
    padding: 10px;
}
.review header{
    text-decoration: underline;
}
.review-summary{
    margin: 10px auto;
    font-family: 'Lato', sans-serif;
    color: var(--text-color);
    line-height: 1.4em;
}
.review-comments{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 14px;
    margin: 10px auto;
    padding: 15px 5px;
}

.comment1{
    background: linear-gradient(rgba(0,0,0,0.1)  0% 50%, rgba(158,57,45)),
     url(preview6.jpg);
     background-position: center;
     background-size: cover;
     background-repeat: no-repeat;
}
.comment2{
    background: linear-gradient(rgba(0,0,0,0.1)  0% 50%, rgba(158,57,45)),
     url(preview001.jpg);
     background-position: center;
     background-size: cover;
     background-repeat: no-repeat;
}
.comment3{
    background: linear-gradient(rgba(0,0,0,0.1)  0% 50%, rgba(158,57,45)),
     url(menu1.jpg);
     background-position: center;
     background-size: cover;
     background-repeat: no-repeat;
}
.comment4{
    background: linear-gradient(rgba(0,0,0,0.1) 0% 50%, rgba(158,57,45)),
     url(coffee3.jpg);
     background-position: center;
     background-size: cover;
     background-repeat: no-repeat;
}
.comments{
    height: 250px;
    position: relative;
    width: 100%;
    border-radius: 25px;
}
.comments .user{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%);
    width: 95%;
    color: var(--text-color);
}
.user h3{
    color: black;
}
@media(max-width: 768px){
    .review-comments{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.comments{
    height: 300px;
   }
}
.price{
    background: url(coffee1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}
.price-card{
    background: rgba(0,0,0,0.7);
    color: var(--text-color);
    padding: 10px;
    text-align: center;
    line-height: 40px;
    border-radius: 0 35px; 
}
.price-card h3{
    color: var(--background);
    text-decoration: underline;
}
 .items-price span{
     display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid white;
}
.items-price .cost{
    font-weight: bold;
    color: var(--background);
}  
.items-price span:nth-child(5){
    margin-bottom: 15px;
} 
@media(max-width: 768px){
    .price{
        display: grid;
        grid-template-columns: 1fr;
    }
    .price-card{
        width: 80%;
        margin: auto;
    }
}

.contact{
    background: var(--accent-color);
    padding: 10px;
}
.contact header{
    text-align: center;
    text-decoration: underline;
    width: 100%;
}
.contact-form{
    width: 400px;
    border: 1px solid var(--background);
    padding: 20px;
    background: rgba(216, 129, 29, 0.5);  
    margin-top: 20px;
    margin-left: 30px;

}
.contact-form input, textarea{
    width: 100%;
    margin: auto;
    margin-bottom: 10px;
}
input{
    height: 30px;
    padding: 2px 10px;
    outline: none;
    background: none;
    border: none;
    border-bottom: 1px solid white;
    color: var(--text-color);
}
input::placeholder{
    color: black;
    font-weight: normal;
}
textarea{
    height: 100px;
    background: transparent;
    border: 1px solid white;
    margin-top: 10px;
    color: var(--text-color);
    outline: none;
    padding: 4px 10px;
}
form button{
    width: 100%;
    height: 30px;
    background: var(--background);
    border: 1px outset var(--accent-color);
    border-radius: 15px;
    font-weight: bold;
    color: var(--text-color);
}
.contact-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--text-color);
    margin-top: 20px;
    border-top: 1px solid white;
    padding: 15px;
}
.contact-address ul{
    display: flex;
    align-items: center;
    gap: 10px;
    list-style: none;
    margin-top: 20px;
}
.contact-address ul li i {
    font-size: 1.7em;
}
.c-address{
    display: flex;
    align-items: center;
    gap: 10px;
}
.contact-info h4{
    color: black;
    line-height: 20px;
    text-decoration: underline;
}
.whatsapp i {
    color: rgb(11, 240, 11);
}
.github i{
    color: black;
}
.linkedin i{
    color: darkblue;
}
.instagram i{
    color: red;
}
.c-address i{
    color: black;
    font-size: 25px;
}
.contact-number b{
    color: black;
}
footer{
    text-align: center;
    padding: 10px;
    color: var(--background);
    background: white;
}
@media(max-width: 768px){
    .contact-form{
        margin: 15px auto !important;
        width: 80%;
    }
    .contact-info{
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
        text-align: center !important;
    }
    .c-address, .contact-address ul{
     display: flex;
     justify-content: center;
     align-items: center;
    }

}





